html body {
  text-align: center;
}
html .image-parent {
  display: inline-block;
}
html details summary {
  margin: 1em;
}
html details a {
  display: block;
  margin: 1em;
}
html img {
  width: 240px;
  max-width: calc(100vw - 40px);
  height: 240px;
  object-fit: contain;
}
html video, html iframe {
  width: 640px;
  max-width: calc(100vw - 40px);
}
html .controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
html .controls .line-separator {
  width: 100%;
}
html .controls button {
  flex: 0 0 auto;
}

@supports (display: flex) and (object-fit: contain) and selector(summary) {
  html {
    width: 100%;
    height: 100%;
  }
  html .sr-only {
    position: fixed;
    top: -1000px;
    left: -1000px;
    width: 1px;
    height: 1px;
  }
  html body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
  }
  html body details {
    flex: 0 0 auto;
  }
  html body details a {
    display: block;
  }
  html body details summary,
  html body details a {
    padding: 8px;
    cursor: pointer;
    margin: 0;
  }
  html body details summary:focus,
  html body details summary:hover,
  html body details a:focus,
  html body details a:hover {
    background-color: Highlight;
    color: HighlightText;
  }
  html body .image-parent {
    flex: 0 0 50px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  html body .image-parent img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  html body #center-row {
    flex: 1 0 100px !important;
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 720px) {
    html body #center-row {
      flex-direction: row;
    }
  }
  html body #center-row .embed-column {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 720px) {
    html body #center-row .embed-column {
      flex: 0 0 20vw;
    }
  }
  html body #center-row .embed-column > * {
    flex: 1 1 25vh;
  }
  html body #center-row main {
    flex: 1 0 100px;
    display: flex;
    flex-direction: column;
  }
  html body #center-row main #video-parent {
    flex: 1 0 100px;
    position: relative;
  }
  html body #center-row main #video-parent > video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  html body #center-row main #video-parent > iframe {
    border: 0;
    width: 100%;
    height: 100%;
    height: calc(100% - 4px);
  }
  html body #center-row main .controlgroup {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
  }
  html body #center-row main .controls {
    background-color: Window;
    color: WindowText;
    flex: 0 0 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  html body #center-row main .controls:empty {
    flex-basis: 0;
  }
  html body #center-row main .controls .spacer {
    flex: 1 1 auto;
  }
  html body #center-row main .controls label {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 8px;
    justify-content: center;
  }
  html body #center-row main .controls .line-separator {
    width: auto;
  }
  html body #center-row main .controls button {
    appearance: none;
    background-color: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    flex: 0 0 36px;
    font: inherit;
  }
  html body #center-row main .controls button:focus, html body #center-row main .controls button:hover {
    background-color: Highlight;
    color: HighlightText;
    outline: 0;
  }
  html body #center-row main .controls button .material-icons {
    font-size: 24px;
    vertical-align: bottom;
  }
  html body #center-row main .controls input[type=range] {
    width: 40px;
    height: 32px;
    flex: 1 1 auto;
    padding: 0;
  }
  html body #center-row main .controls input[type=range]#volume {
    max-width: 240px;
  }
  html body #center-row main .controls .status {
    line-height: 36px;
    padding: 0 8px;
    vertical-align: middle;
  }
  html body #center-row main .controls .status.wide {
    flex: 1 1 0px;
  }
  @media (max-width: 480px) {
    html body #center-row main .controls .status.timestamp {
      display: none;
    }
  }
  html body #center-row main .controls .adv:not(:focus) {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

/*# sourceMappingURL=main.css.map */
